<h1>
Gun Safety</h1>
<ol>
  <li>Treat <strong>all</strong> guns as if they’re loaded.</li>
  <li>Never point a firearm at anything you are not willing to <strong>kill</strong> or <strong>destroy</strong>.</li>
  <li>Keep your finger <strong>off</strong> the trigger until you are ready to shoot.</li>
  <li>Be aware of your target and what is beyond.</li>
  <li>Think safe be safe and be your neighbors keeper</li>
</ol>
